<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Nuevo Estudiante</title>
</head>

<body>

    <h1>Nuevo Estudiante</h1>

    <form th:action="@{/estudiantes/guardar}" th:object="${estudiante}" method="post">
        <input type="hidden" th:field="*{id}" />

        <label>Nombre:</label>
        <input type="text" th:field="*{nombre}" /><br />

        <label>Apellidos:</label>
        <input type="text" th:field="*{apellidos}" /><br />

        <label>Email:</label>
        <input type="email" th:field="*{email}" /><br />

        <label>Teléfono:</label>
        <input type="text" th:field="*{telefono}" /><br />

        <label>DNI:</label>
        <input type="text" th:field="*{dni}" /><br />

        <label>Inicio prácticas:</label>
        <input type="date" th:field="*{fechaInicioPracticas}" /><br />

        <label>Fin prácticas:</label>
        <input type="date" th:field="*{fechaFinPracticas}" /><br />

        <label>Centro:</label>
        <select name="centroId">
            <option value="">-- Selecciona un centro --</option>
            <option th:each="c : ${centros}" th:value="${c.id}" th:text="${c.nombre}"
                th:selected="${estudiante.centro != null and estudiante.centro.id == c.id}">
            </option>
        </select><br />
        <label>Titulación:</label>
        <select name="titulacionId">
            <option value="">-- Selecciona una titulación --</option>
            <option th:each="t : ${titulaciones}" th:value="${t.id}" th:text="${t.nombre}"
                th:selected="${estudiante.titulacion != null and estudiante.titulacion.id == t.id}">
            </option>
        </select><br />
        <label>Tutor empresa:</label>
        <select name="tutorEmpresaId">
            <option value="">-- Sin tutor empresa --</option>
            <option th:each="t : ${tutoresEmpresa}" th:value="${t.id}" th:text="${t.nombre} + ' ' + ${t.apellidos}"
                th:selected="${estudiante.tutorEmpresa != null and estudiante.tutorEmpresa.id == t.id}">
            </option>
        </select><br />
        <label>Convenio:</label>
        <select name="convenioId">
            <option value="">-- Selecciona un convenio --</option>
            <option th:each="c : ${convenios}" th:value="${c.id}" th:text="${c.nombre}"
                th:selected="${estudiante.convenio != null and estudiante.convenio.id == c.id}">
            </option>
        </select><br />


        <button type="submit">Guardar</button>
    </form>

    <a th:href="@{/estudiantes}">Volver</a>

</body>

</html>