<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Tutores Empresa</title></head>
<body>

<h1>Tutores Empresa</h1>
<a th:href="@{/tutores-empresa/nuevo}">Nuevo Tutor Empresa</a>

<table border="1">
    <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>DNI</th>
        <th>Cargo</th>
    </tr>
    <tr th:each="t : ${tutores}">
        <td th:text="${t.nombre} + ' ' + ${t.apellidos}"></td>
        <td th:text="${t.email}"></td>
        <td th:text="${t.dni}"></td>
        <td th:text="${t.cargoEmpresa}"></td>
    </tr>
</table>

</body>
</html>
