<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Tutores Empresa</title>
</head>

<body>
    <div th:replace="fragments/navbar :: navbar"></div>

    <h1>Tutores Empresa</h1>
    <a th:href="@{/tutores-empresa/nuevo}">Nuevo Tutor Empresa</a>
    <div th:if="${mensajeOk != null}" style="padding:10px; border:1px solid #4caf50; margin:10px 0;">
        <span th:text="${mensajeOk}"></span>
    </div>

    <div th:if="${mensajeError != null}" style="padding:10px; border:1px solid #f44336; margin:10px 0;">
        <span th:text="${mensajeError}"></span>
    </div>
    <table border="1">
        <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>DNI</th>
            <th>Cargo</th>
            <th>Acciones</th>
        </tr>
        <tr th:each="t : ${tutores}">
            <td th:text="${t.nombre} + ' ' + ${t.apellidos}"></td>
            <td th:text="${t.email}"></td>
            <td th:text="${t.dni}"></td>
            <td th:text="${t.cargoEmpresa}"></td>
            <td>
                <a th:href="@{/tutores-empresa/editar/{id}(id=${t.id})}">Editar</a>
                |
                <span th:if="${!t.activo}">
                    | <a th:href="@{/tutores-empresa/activar/{id}(id=${t.id})}">Activar</a>
                </span>
                <a th:href="@{/tutores-empresa/desactivar/{id}(id=${t.id})}"
                    onclick="return confirm('¿Desactivar tutor? No se borrará, quedará como histórico y no podrá iniciar sesión.');">
                    Desactivar
                </a>
            </td>

        </tr>
    </table>

</body>

</html>