<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Nuevo Centro</title>
</head>

<body>

    <h1>Nuevo Centro</h1>

    <form th:action="@{/centros/guardar}" th:object="${centro}" method="post">
        <input type="hidden" th:field="*{id}" />
        <label>Nombre:</label>
        <input type="text" th:field="*{nombre}" /><br />

        <label>Ubicación:</label>
        <input type="text" th:field="*{ubicacion}" /><br />

        <label>Email contacto:</label>
        <input type="email" th:field="*{emailContacto}" /><br />

        <h3>Titulaciones</h3>

        <div th:each="t : ${titulaciones}">
            <label>
                <input type="checkbox" name="titulacionIds" th:value="${t.id}"
                    th:checked="${asignadas.contains(t.id)}" />
                <span th:text="${t.nombre} + ' (' + ${t.nivel} + ')'"></span>
            </label>
            <br />
        </div>

        <button type="submit">Guardar</button>
    </form>

    <a th:href="@{/centros}">Volver</a>

</body>

</html>