<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Convenios</title>
</head>

<body>
<div th:replace="fragments/navbar :: navbar"></div>

    <h1>Listado de Convenios</h1>

    <a th:href="@{/convenios/nuevo}">Nuevo Convenio</a>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Centro</th>
            <th>Inicio</th>
            <th>Fin</th>
            <th>Activo</th>
            <th>Acciones</th>
        </tr>
        <tr th:each="c : ${convenios}">
            <td th:text="${c.id}"></td>
            <td th:text="${c.nombre}"></td>
            <td th:text="${c.centro.nombre}"></td>
            <td th:text="${c.fechaInicio}"></td>
            <td th:text="${c.fechaFin}"></td>
            <td th:text="${c.activo}"></td>
            <td>
                <a th:href="@{/convenios/{id}(id=${c.id})}">Ver</a> |
                <a th:href="@{/convenios/editar/{id}(id=${c.id})}">Editar</a>
                |
                <a th:href="@{/convenios/eliminar/{id}(id=${c.id})}"
                    onclick="return confirm('¿Seguro que deseas eliminar este convenio?');">
                    Eliminar
                </a>
            </td>
        </tr>
    </table>

</body>

</html>